#result {
  width: 100%;
  height: 100vh;
  background: rgb(36, 0, 0);
  background: linear-gradient(308deg, rgb(36, 0, 0) 0%, rgb(65, 0, 0) 51%, rgb(134, 1, 1) 100%);
}

.result_container {
  position: relative;
  width: 100%;
}

.pollution-result-container {
  height: 100%;
  background: rgb(36, 0, 0);
  background: linear-gradient(308deg, rgb(36, 0, 0) 0%, rgb(65, 0, 0) 51%, rgb(134, 1, 1) 100%);
}
.pollution-result-container .result-image {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pollution-result-container .result-image img {
  height: 360px;
  border-radius: 25px;
  opacity: 0.8;
}
.pollution-result-container .pollution-text {
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
}

@keyframes faderesult {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#stars-group-1 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 443px 650px #fff, 779px 1126px #fff, 634px 1579px #fff, 245px 1769px #fff, 1180px 1097px #fff, 136px 1557px #fff, 766px 1796px #fff, 1747px 1615px #fff, 321px 987px #fff, 1601px 868px #fff, 85px 1037px #fff, 393px 1095px #fff, 1635px 1647px #fff, 1571px 1361px #fff, 627px 854px #fff, 1395px 893px #fff, 1451px 922px #fff, 960px 926px #fff, 1244px 1468px #fff, 1188px 1757px #fff, 1396px 1161px #fff, 190px 65px #fff, 1382px 1440px #fff, 171px 798px #fff, 1592px 1705px #fff, 1557px 1605px #fff, 706px 1251px #fff, 219px 182px #fff, 1168px 20px #fff, 1031px 1233px #fff, 360px 382px #fff, 99px 1289px #fff, 1472px 1058px #fff, 757px 974px #fff, 214px 149px #fff, 644px 1559px #fff, 1652px 326px #fff, 350px 258px #fff, 84px 19px #fff, 468px 895px #fff, 880px 1637px #fff, 1677px 555px #fff, 1401px 1445px #fff, 1446px 1274px #fff, 1261px 245px #fff, 1407px 63px #fff, 562px 435px #fff, 469px 749px #fff, 1522px 97px #fff, 934px 975px #fff, 534px 788px #fff, 25px 333px #fff, 579px 557px #fff, 1363px 657px #fff, 480px 38px #fff, 255px 85px #fff, 203px 291px #fff, 1336px 1204px #fff, 865px 1309px #fff, 880px 676px #fff, 1664px 473px #fff, 276px 1103px #fff, 338px 1386px #fff, 282px 836px #fff, 1734px 462px #fff, 917px 64px #fff, 773px 1180px #fff, 1690px 552px #fff, 110px 1420px #fff, 210px 1751px #fff, 367px 627px #fff, 655px 485px #fff, 1377px 1379px #fff, 1690px 1415px #fff, 1360px 135px #fff, 1693px 886px #fff, 439px 256px #fff, 1174px 856px #fff, 996px 1249px #fff, 355px 819px #fff, 912px 424px #fff, 1635px 246px #fff, 360px 678px #fff, 1759px 1058px #fff, 1004px 287px #fff, 730px 483px #fff, 774px 1229px #fff, 1493px 564px #fff, 366px 1632px #fff, 862px 213px #fff, 151px 579px #fff, 171px 60px #fff, 1266px 887px #fff, 59px 1343px #fff, 541px 1668px #fff, 719px 395px #fff, 1682px 1025px #fff, 364px 1333px #fff, 1769px 1021px #fff, 1346px 845px #fff, 362px 1707px #fff, 618px 1786px #fff, 1158px 734px #fff, 583px 1135px #fff, 1681px 808px #fff, 994px 663px #fff, 1027px 102px #fff, 790px 399px #fff, 1537px 461px #fff, 1309px 191px #fff, 317px 1116px #fff, 1006px 998px #fff, 374px 250px #fff, 5px 401px #fff, 1491px 230px #fff, 423px 950px #fff, 1111px 1344px #fff, 973px 320px #fff, 805px 1432px #fff, 1150px 260px #fff, 120px 566px #fff, 1693px 1007px #fff, 940px 550px #fff, 521px 299px #fff, 9px 1427px #fff, 1125px 1577px #fff, 843px 671px #fff, 310px 1257px #fff, 414px 655px #fff, 666px 1124px #fff, 383px 1243px #fff, 793px 1188px #fff, 563px 1695px #fff, 1371px 1350px #fff, 924px 356px #fff, 489px 285px #fff, 671px 1033px #fff, 930px 745px #fff, 1007px 255px #fff, 446px 226px #fff, 53px 376px #fff, 1266px 287px #fff, 283px 1536px #fff, 704px 562px #fff, 748px 1049px #fff, 188px 288px #fff, 161px 932px #fff, 701px 1089px #fff, 1676px 1379px #fff, 1190px 669px #fff, 22px 1408px #fff, 469px 386px #fff, 783px 363px #fff, 1800px 237px #fff, 740px 64px #fff, 907px 308px #fff, 872px 1576px #fff, 1544px 772px #fff, 1000px 813px #fff, 612px 566px #fff, 669px 1492px #fff, 229px 1448px #fff, 397px 1631px #fff, 862px 101px #fff, 209px 1248px #fff, 730px 946px #fff, 1566px 1223px #fff, 998px 369px #fff, 220px 1535px #fff, 268px 464px #fff, 212px 825px #fff, 862px 1184px #fff, 52px 921px #fff, 635px 471px #fff, 227px 370px #fff, 936px 1678px #fff, 703px 907px #fff, 1136px 1638px #fff, 677px 638px #fff, 1158px 88px #fff, 695px 1371px #fff, 1401px 500px #fff, 1793px 1178px #fff, 1352px 1471px #fff, 655px 601px #fff, 1086px 1205px #fff, 1660px 1053px #fff, 781px 946px #fff, 106px 583px #fff, 507px 1457px #fff, 1025px 1390px #fff, 1329px 1138px #fff, 527px 1237px #fff, 861px 76px #fff, 273px 715px #fff, 701px 842px #fff, 1699px 813px #fff, 1068px 1630px #fff, 135px 1450px #fff, 506px 268px #fff;
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0s;
  position: absolute;
}

#stars-group-2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 1330px 1628px #fff, 170px 1769px #fff, 1663px 970px #fff, 1548px 669px #fff, 350px 859px #fff, 1752px 383px #fff, 68px 599px #fff, 184px 412px #fff, 217px 567px #fff, 1126px 971px #fff, 529px 1172px #fff, 1793px 1256px #fff, 1730px 391px #fff, 969px 758px #fff, 1345px 1439px #fff, 124px 844px #fff, 978px 132px #fff, 1489px 173px #fff, 1078px 1119px #fff, 1381px 555px #fff, 1277px 1649px #fff, 323px 1062px #fff, 753px 1685px #fff, 336px 370px #fff, 674px 175px #fff, 553px 260px #fff, 882px 1256px #fff, 743px 1301px #fff, 981px 1681px #fff, 1246px 191px #fff, 1269px 1612px #fff, 856px 55px #fff, 1425px 993px #fff, 871px 306px #fff, 1312px 1351px #fff, 582px 1422px #fff, 877px 1290px #fff, 400px 219px #fff, 873px 1182px #fff, 1483px 266px #fff, 664px 1350px #fff, 70px 1468px #fff, 1800px 1376px #fff, 895px 119px #fff, 404px 150px #fff, 825px 498px #fff, 1346px 502px #fff, 326px 670px #fff, 505px 1189px #fff, 1021px 351px #fff, 325px 675px #fff, 41px 821px #fff, 638px 181px #fff, 1487px 1042px #fff, 1661px 237px #fff, 1457px 103px #fff, 1320px 476px #fff, 1394px 1748px #fff, 1711px 672px #fff, 631px 316px #fff, 250px 442px #fff, 556px 53px #fff, 787px 995px #fff, 1526px 866px #fff, 804px 1722px #fff, 1646px 1088px #fff, 661px 753px #fff, 1754px 137px #fff, 161px 1386px #fff, 1288px 494px #fff, 786px 1787px #fff, 386px 1678px #fff, 272px 135px #fff, 1742px 429px #fff, 1157px 1646px #fff, 1099px 251px #fff, 1744px 813px #fff, 117px 289px #fff, 598px 149px #fff, 1225px 352px #fff, 970px 1422px #fff, 332px 1235px #fff, 1733px 363px #fff, 1184px 1646px #fff, 942px 25px #fff, 987px 3px #fff, 934px 715px #fff, 944px 55px #fff, 1662px 1259px #fff, 922px 769px #fff, 1793px 17px #fff, 986px 360px #fff, 1696px 1710px #fff, 1627px 379px #fff, 307px 1099px #fff, 276px 112px #fff, 1163px 387px #fff, 533px 1753px #fff, 867px 1726px #fff, 1254px 592px #fff, 1388px 678px #fff, 698px 153px #fff, 221px 805px #fff, 416px 974px #fff, 851px 442px #fff, 90px 986px #fff, 1500px 299px #fff, 1524px 650px #fff, 1779px 1735px #fff, 485px 998px #fff, 470px 1529px #fff, 231px 1517px #fff, 938px 1676px #fff, 1636px 1004px #fff, 1652px 811px #fff, 517px 1157px #fff, 1479px 289px #fff, 424px 1434px #fff, 1614px 1213px #fff, 122px 798px #fff, 983px 852px #fff, 963px 839px #fff, 1283px 713px #fff, 1018px 1425px #fff, 515px 41px #fff, 1471px 1393px #fff, 122px 1050px #fff, 285px 189px #fff, 921px 1045px #fff, 1548px 317px #fff, 1697px 601px #fff, 247px 1457px #fff, 488px 1389px #fff, 1780px 528px #fff, 144px 1607px #fff, 350px 1217px #fff, 409px 589px #fff, 180px 869px #fff, 355px 599px #fff, 1645px 46px #fff, 397px 1253px #fff, 350px 105px #fff, 1285px 1156px #fff, 717px 1036px #fff, 698px 1460px #fff, 499px 1049px #fff, 922px 1695px #fff, 972px 205px #fff, 67px 499px #fff, 861px 1350px #fff, 61px 233px #fff, 161px 1049px #fff, 1710px 1238px #fff, 799px 1683px #fff, 797px 68px #fff, 1025px 1249px #fff, 1525px 1716px #fff, 116px 724px #fff, 1765px 1169px #fff, 289px 920px #fff, 1268px 349px #fff, 1001px 1164px #fff, 25px 1px #fff, 1421px 1620px #fff, 731px 25px #fff, 315px 60px #fff, 1447px 1530px #fff, 109px 571px #fff, 1580px 54px #fff, 1116px 258px #fff, 918px 824px #fff, 960px 92px #fff, 336px 796px #fff, 1479px 1354px #fff, 1747px 1399px #fff, 1313px 1483px #fff, 261px 1174px #fff, 795px 1152px #fff, 1182px 1568px #fff, 182px 17px #fff, 1114px 477px #fff, 822px 359px #fff, 196px 685px #fff, 970px 112px #fff, 1122px 9px #fff, 445px 111px #fff, 697px 1197px #fff, 359px 446px #fff, 661px 891px #fff, 621px 1541px #fff, 211px 819px #fff, 367px 1514px #fff, 1474px 538px #fff, 877px 1060px #fff, 929px 1068px #fff, 1177px 400px #fff, 1333px 135px #fff, 548px 784px #fff, 135px 753px #fff, 258px 1404px #fff;
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.1s;
  position: absolute;
}

#stars-group-3 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 877px 1084px #fff, 639px 1776px #fff, 760px 1357px #fff, 1794px 1548px #fff, 1360px 194px #fff, 727px 200px #fff, 802px 1108px #fff, 226px 1470px #fff, 1798px 544px #fff, 1065px 973px #fff, 1336px 60px #fff, 1616px 644px #fff, 1794px 157px #fff, 425px 1436px #fff, 206px 1638px #fff, 483px 1174px #fff, 1016px 1334px #fff, 1227px 825px #fff, 1060px 762px #fff, 321px 240px #fff, 1241px 1367px #fff, 967px 1599px #fff, 201px 1675px #fff, 409px 80px #fff, 872px 1261px #fff, 397px 520px #fff, 966px 710px #fff, 10px 1246px #fff, 1107px 1561px #fff, 237px 1320px #fff, 1647px 731px #fff, 666px 1581px #fff, 378px 1644px #fff, 769px 40px #fff, 93px 9px #fff, 1700px 519px #fff, 851px 587px #fff, 704px 640px #fff, 1550px 1660px #fff, 534px 1400px #fff, 121px 1133px #fff, 679px 1305px #fff, 879px 1734px #fff, 721px 314px #fff, 1206px 1512px #fff, 888px 1514px #fff, 630px 949px #fff, 21px 1464px #fff, 571px 1598px #fff, 1275px 883px #fff, 890px 966px #fff, 680px 1509px #fff, 937px 939px #fff, 516px 333px #fff, 1800px 1465px #fff, 927px 1499px #fff, 1155px 1182px #fff, 734px 1672px #fff, 1796px 1420px #fff, 621px 197px #fff, 65px 1508px #fff, 1012px 179px #fff, 467px 758px #fff, 1134px 1078px #fff, 993px 1150px #fff, 1768px 955px #fff, 780px 410px #fff, 1130px 226px #fff, 1349px 381px #fff, 1050px 606px #fff, 1610px 1408px #fff, 1586px 132px #fff, 989px 520px #fff, 598px 1290px #fff, 797px 1652px #fff, 1034px 762px #fff, 359px 1346px #fff, 1083px 1246px #fff, 948px 73px #fff, 482px 951px #fff, 1040px 1143px #fff, 1144px 56px #fff, 1748px 1512px #fff, 753px 965px #fff, 1284px 536px #fff, 329px 1105px #fff, 619px 1162px #fff, 666px 79px #fff, 1419px 1298px #fff, 518px 318px #fff, 285px 953px #fff, 643px 1309px #fff, 1520px 1735px #fff, 366px 961px #fff, 726px 585px #fff, 1261px 1057px #fff, 1463px 918px #fff, 1517px 127px #fff, 1536px 642px #fff, 462px 761px #fff, 443px 1356px #fff, 796px 1060px #fff, 668px 1314px #fff, 737px 78px #fff, 63px 215px #fff, 909px 1576px #fff, 1618px 1673px #fff, 1752px 1436px #fff, 72px 226px #fff, 1198px 912px #fff, 604px 1326px #fff, 1038px 484px #fff, 447px 933px #fff, 1632px 102px #fff, 1601px 54px #fff, 232px 926px #fff, 1615px 981px #fff, 980px 1562px #fff, 550px 671px #fff, 74px 122px #fff, 701px 196px #fff, 384px 85px #fff, 1539px 1600px #fff, 1353px 474px #fff, 36px 1532px #fff, 1461px 1471px #fff, 537px 1131px #fff, 294px 447px #fff, 1417px 517px #fff, 327px 71px #fff, 493px 520px #fff, 123px 1218px #fff, 1541px 1540px #fff, 1304px 263px #fff, 1285px 287px #fff, 1468px 1656px #fff, 1560px 1510px #fff, 634px 1053px #fff, 279px 813px #fff, 416px 1612px #fff, 158px 1407px #fff, 1114px 111px #fff, 1081px 1571px #fff, 755px 721px #fff, 1215px 1542px #fff, 915px 983px #fff, 1221px 8px #fff, 598px 15px #fff, 250px 196px #fff, 715px 1058px #fff, 303px 1762px #fff, 1760px 891px #fff, 1226px 263px #fff, 1370px 459px #fff, 428px 901px #fff, 1497px 1156px #fff, 426px 395px #fff, 850px 693px #fff, 1792px 169px #fff, 1150px 1537px #fff, 65px 123px #fff, 472px 543px #fff, 1759px 811px #fff, 660px 962px #fff, 158px 1631px #fff, 1630px 709px #fff, 765px 1254px #fff, 1587px 993px #fff, 1064px 1101px #fff, 1732px 1179px #fff, 112px 454px #fff, 1190px 712px #fff, 1403px 547px #fff, 809px 385px #fff, 1187px 895px #fff, 730px 1422px #fff, 539px 1352px #fff, 445px 63px #fff, 535px 585px #fff, 845px 298px #fff, 1319px 130px #fff, 314px 1077px #fff, 1741px 1719px #fff, 1546px 654px #fff, 674px 246px #fff, 1086px 1679px #fff, 1050px 332px #fff, 691px 309px #fff, 1530px 93px #fff, 446px 57px #fff, 478px 448px #fff, 928px 1501px #fff, 1623px 1543px #fff, 704px 1781px #fff, 790px 141px #fff, 1385px 1625px #fff, 139px 432px #fff, 720px 1477px #fff, 1503px 185px #fff, 1250px 442px #fff;
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  position: absolute;
}

#stars-group-4 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 697px 1603px #fff, 59px 141px #fff, 812px 836px #fff, 775px 552px #fff, 1723px 738px #fff, 1733px 691px #fff, 1350px 523px #fff, 1580px 553px #fff, 1734px 1305px #fff, 155px 194px #fff, 877px 1059px #fff, 1535px 340px #fff, 880px 1676px #fff, 1719px 342px #fff, 1377px 1579px #fff, 712px 1039px #fff, 1702px 460px #fff, 1173px 459px #fff, 829px 1554px #fff, 1486px 1041px #fff, 1346px 269px #fff, 675px 893px #fff, 1702px 827px #fff, 955px 448px #fff, 1402px 493px #fff, 1294px 99px #fff, 937px 991px #fff, 1249px 1742px #fff, 1587px 311px #fff, 573px 37px #fff, 471px 266px #fff, 1320px 221px #fff, 17px 1155px #fff, 157px 978px #fff, 400px 219px #fff, 1116px 1557px #fff, 1452px 952px #fff, 1508px 833px #fff, 47px 1379px #fff, 73px 386px #fff, 1136px 1336px #fff, 112px 1602px #fff, 717px 1054px #fff, 1673px 260px #fff, 1311px 540px #fff, 1375px 339px #fff, 292px 48px #fff, 978px 81px #fff, 594px 1310px #fff, 1160px 1173px #fff, 1593px 1324px #fff, 1120px 163px #fff, 509px 1454px #fff, 899px 1072px #fff, 1043px 1709px #fff, 314px 359px #fff, 850px 1140px #fff, 577px 680px #fff, 686px 976px #fff, 1238px 713px #fff, 420px 168px #fff, 287px 1306px #fff, 56px 835px #fff, 517px 467px #fff, 252px 597px #fff, 541px 1525px #fff, 1777px 220px #fff, 1778px 37px #fff, 476px 160px #fff, 1179px 1769px #fff, 1041px 1540px #fff, 1484px 1775px #fff, 723px 831px #fff, 56px 774px #fff, 1036px 1371px #fff, 1764px 1490px #fff, 1097px 214px #fff, 1384px 527px #fff, 683px 381px #fff, 534px 1494px #fff, 1590px 661px #fff, 1788px 1402px #fff, 1546px 52px #fff, 1595px 990px #fff, 781px 98px #fff, 1348px 1529px #fff, 385px 342px #fff, 1057px 1680px #fff, 1271px 904px #fff, 1106px 1590px #fff, 1404px 167px #fff, 593px 890px #fff, 64px 1287px #fff, 123px 1108px #fff, 910px 1131px #fff, 321px 712px #fff, 231px 1135px #fff, 1318px 934px #fff, 153px 924px #fff, 583px 1310px #fff, 851px 1789px #fff, 953px 1512px #fff, 1111px 1425px #fff, 1747px 661px #fff, 1121px 572px #fff, 753px 32px #fff, 288px 249px #fff, 1333px 1570px #fff, 1641px 605px #fff, 1154px 126px #fff, 512px 1131px #fff, 1671px 1378px #fff, 316px 681px #fff, 502px 775px #fff, 1784px 549px #fff, 306px 695px #fff, 697px 1716px #fff, 1048px 1476px #fff, 171px 5px #fff, 244px 1659px #fff, 1199px 1393px #fff, 839px 815px #fff, 1084px 264px #fff, 451px 1452px #fff, 869px 173px #fff, 1180px 835px #fff, 1495px 1684px #fff, 707px 703px #fff, 1268px 517px #fff, 617px 1387px #fff, 1443px 943px #fff, 1238px 1409px #fff, 740px 1767px #fff, 1747px 893px #fff, 602px 352px #fff, 1776px 340px #fff, 252px 1773px #fff, 1601px 1091px #fff, 424px 1057px #fff, 1749px 1193px #fff, 1348px 1169px #fff, 1371px 1111px #fff, 1789px 752px #fff, 1696px 393px #fff, 478px 717px #fff, 1109px 403px #fff, 1717px 543px #fff, 1409px 830px #fff, 57px 1746px #fff, 474px 1493px #fff, 1190px 4px #fff, 1453px 1152px #fff, 856px 1105px #fff, 1577px 413px #fff, 1725px 1781px #fff, 127px 1097px #fff, 1458px 572px #fff, 1304px 475px #fff, 876px 244px #fff, 1707px 92px #fff, 605px 207px #fff, 717px 1525px #fff, 192px 354px #fff, 1181px 51px #fff, 1386px 1706px #fff, 1447px 1301px #fff, 928px 1163px #fff, 630px 577px #fff, 476px 434px #fff, 703px 1513px #fff, 22px 693px #fff, 5px 351px #fff, 1203px 556px #fff, 1603px 1012px #fff, 1378px 763px #fff, 1183px 188px #fff, 513px 1501px #fff, 1142px 140px #fff, 1550px 1151px #fff, 1749px 1537px #fff, 384px 1136px #fff, 1652px 1561px #fff, 1102px 853px #fff, 1767px 1521px #fff, 602px 109px #fff, 463px 1213px #fff, 305px 1690px #fff, 736px 1376px #fff, 895px 1380px #fff, 279px 576px #fff, 1380px 1165px #fff, 1079px 522px #fff, 3px 1711px #fff, 865px 1079px #fff, 428px 994px #fff, 1089px 854px #fff, 306px 1274px #fff, 1099px 872px #fff, 14px 1361px #fff, 1446px 44px #fff;
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.3s;
  position: absolute;
}

#stars-group-5 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 179px 1291px #fff, 150px 285px #fff, 249px 159px #fff, 1156px 265px #fff, 50px 347px #fff, 907px 970px #fff, 593px 962px #fff, 1355px 945px #fff, 1146px 1419px #fff, 1152px 352px #fff, 172px 1671px #fff, 461px 556px #fff, 263px 1705px #fff, 1704px 1733px #fff, 651px 1125px #fff, 1449px 53px #fff, 1005px 1727px #fff, 1180px 512px #fff, 1778px 21px #fff, 983px 610px #fff, 1594px 772px #fff, 1739px 1667px #fff, 1792px 314px #fff, 438px 1624px #fff, 1276px 1584px #fff, 968px 1055px #fff, 278px 205px #fff, 22px 1082px #fff, 515px 1394px #fff, 1235px 702px #fff, 1172px 1794px #fff, 1471px 360px #fff, 1760px 936px #fff, 1080px 1508px #fff, 458px 845px #fff, 348px 951px #fff, 1013px 935px #fff, 1471px 289px #fff, 1218px 1355px #fff, 1665px 1314px #fff, 458px 732px #fff, 429px 113px #fff, 204px 926px #fff, 202px 84px #fff, 1278px 881px #fff, 183px 1668px #fff, 660px 919px #fff, 425px 546px #fff, 304px 451px #fff, 1740px 929px #fff, 343px 415px #fff, 358px 1246px #fff, 1157px 1030px #fff, 799px 958px #fff, 508px 1577px #fff, 454px 538px #fff, 329px 186px #fff, 531px 1690px #fff, 376px 1331px #fff, 1020px 1246px #fff, 164px 1161px #fff, 808px 1374px #fff, 327px 1566px #fff, 752px 926px #fff, 413px 1578px #fff, 453px 1490px #fff, 10px 349px #fff, 1286px 1374px #fff, 1451px 294px #fff, 155px 1303px #fff, 617px 460px #fff, 1658px 1751px #fff, 1530px 1096px #fff, 745px 1230px #fff, 1712px 999px #fff, 828px 21px #fff, 1359px 573px #fff, 509px 1106px #fff, 1712px 1513px #fff, 863px 965px #fff, 780px 266px #fff, 585px 673px #fff, 464px 782px #fff, 1655px 975px #fff, 1057px 862px #fff, 50px 1384px #fff, 45px 281px #fff, 514px 620px #fff, 1378px 879px #fff, 1017px 1658px #fff, 1635px 272px #fff, 1688px 598px #fff, 393px 1099px #fff, 554px 740px #fff, 1223px 788px #fff, 754px 975px #fff, 1140px 1639px #fff, 1461px 1765px #fff, 1055px 1703px #fff, 295px 990px #fff, 13px 113px #fff, 268px 811px #fff, 1332px 1436px #fff, 130px 572px #fff, 1577px 608px #fff, 223px 446px #fff, 1533px 648px #fff, 1707px 496px #fff, 1627px 1537px #fff, 994px 24px #fff, 540px 1566px #fff, 156px 639px #fff, 1479px 587px #fff, 917px 1454px #fff, 1030px 53px #fff, 602px 1698px #fff, 798px 1207px #fff, 416px 1424px #fff, 861px 1343px #fff, 1019px 1145px #fff, 35px 719px #fff, 444px 989px #fff, 1385px 1756px #fff, 626px 46px #fff, 532px 695px #fff, 1402px 141px #fff, 496px 161px #fff, 1717px 240px #fff, 152px 229px #fff, 1542px 129px #fff, 1031px 1469px #fff, 746px 409px #fff, 1538px 736px #fff, 1486px 453px #fff, 1466px 1726px #fff, 114px 616px #fff, 59px 532px #fff, 1552px 1233px #fff, 182px 480px #fff, 1058px 504px #fff, 1651px 1570px #fff, 1202px 272px #fff, 7px 858px #fff, 1276px 547px #fff, 1343px 432px #fff, 1237px 981px #fff, 175px 222px #fff, 1174px 188px #fff, 1243px 1266px #fff, 566px 540px #fff, 881px 117px #fff, 1343px 1786px #fff, 1675px 1043px #fff, 1279px 1267px #fff, 413px 61px #fff, 200px 1062px #fff, 1257px 1170px #fff, 612px 1212px #fff, 798px 78px #fff, 796px 1179px #fff, 373px 353px #fff, 1346px 210px #fff, 1650px 1711px #fff, 117px 315px #fff, 1495px 1186px #fff, 1281px 745px #fff, 1703px 1030px #fff, 859px 1665px #fff, 1393px 226px #fff, 1237px 1123px #fff, 1511px 409px #fff, 1633px 1655px #fff, 1384px 482px #fff, 1782px 980px #fff, 879px 1797px #fff, 1555px 268px #fff, 1213px 1609px #fff, 139px 1101px #fff, 144px 798px #fff, 1775px 1546px #fff, 1620px 278px #fff, 559px 404px #fff, 139px 888px #fff, 1600px 1076px #fff, 52px 1344px #fff, 53px 611px #fff, 271px 115px #fff, 1488px 453px #fff, 809px 1572px #fff, 229px 1226px #fff, 676px 727px #fff, 1723px 1613px #fff, 908px 1031px #fff, 977px 1795px #fff, 613px 837px #fff, 123px 1506px #fff, 396px 1301px #fff, 154px 1642px #fff, 948px 1138px #fff, 905px 395px #fff;
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.4s;
  position: absolute;
}

#stars-group-6 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 492px 84px #fff, 852px 571px #fff, 196px 1020px #fff, 1406px 867px #fff, 847px 1158px #fff, 881px 1385px #fff, 1408px 1285px #fff, 1119px 82px #fff, 1219px 201px #fff, 1709px 1580px #fff, 1653px 675px #fff, 1069px 1020px #fff, 1067px 1475px #fff, 1426px 1521px #fff, 960px 240px #fff, 279px 968px #fff, 162px 1209px #fff, 163px 374px #fff, 1419px 674px #fff, 1210px 823px #fff, 1114px 1799px #fff, 51px 64px #fff, 14px 1729px #fff, 361px 351px #fff, 991px 1051px #fff, 273px 1185px #fff, 718px 1738px #fff, 1790px 218px #fff, 1047px 1234px #fff, 310px 674px #fff, 39px 1225px #fff, 1603px 879px #fff, 38px 430px #fff, 1281px 1223px #fff, 324px 332px #fff, 803px 1010px #fff, 414px 313px #fff, 1266px 1772px #fff, 873px 61px #fff, 304px 113px #fff, 896px 1251px #fff, 1658px 1122px #fff, 606px 1278px #fff, 92px 1636px #fff, 925px 1493px #fff, 1153px 571px #fff, 470px 1528px #fff, 1312px 403px #fff, 836px 581px #fff, 896px 1049px #fff, 594px 831px #fff, 1315px 900px #fff, 972px 122px #fff, 1645px 1719px #fff, 147px 1047px #fff, 512px 667px #fff, 288px 1082px #fff, 1566px 1418px #fff, 1713px 1260px #fff, 1087px 1611px #fff, 1166px 596px #fff, 1713px 721px #fff, 1386px 227px #fff, 479px 59px #fff, 622px 567px #fff, 1299px 510px #fff, 990px 297px #fff, 1058px 58px #fff, 1546px 1036px #fff, 913px 1706px #fff, 538px 1301px #fff, 1675px 1712px #fff, 597px 1265px #fff, 816px 1209px #fff, 2px 918px #fff, 142px 298px #fff, 930px 97px #fff, 1526px 1618px #fff, 1381px 1565px #fff, 599px 565px #fff, 557px 379px #fff, 95px 1085px #fff, 1486px 807px #fff, 28px 709px #fff, 346px 652px #fff, 688px 279px #fff, 1539px 1032px #fff, 662px 923px #fff, 825px 357px #fff, 518px 40px #fff, 1306px 313px #fff, 1567px 1100px #fff, 1177px 1316px #fff, 1305px 1025px #fff, 789px 1286px #fff, 398px 827px #fff, 928px 291px #fff, 1711px 1778px #fff, 671px 536px #fff, 1792px 1503px #fff, 1674px 1657px #fff, 365px 1241px #fff, 746px 187px #fff, 1622px 345px #fff, 364px 588px #fff, 795px 1789px #fff, 1330px 1062px #fff, 598px 1559px #fff, 519px 1264px #fff, 3px 684px #fff, 491px 620px #fff, 1031px 1786px #fff, 1170px 955px #fff, 1141px 629px #fff, 621px 1674px #fff, 1106px 1575px #fff, 653px 888px #fff, 400px 1023px #fff, 49px 519px #fff, 819px 1462px #fff, 1652px 215px #fff, 165px 751px #fff, 650px 943px #fff, 1395px 505px #fff, 981px 1003px #fff, 444px 54px #fff, 392px 1711px #fff, 1307px 749px #fff, 908px 123px #fff, 1055px 147px #fff, 585px 1024px #fff, 89px 880px #fff, 1457px 1221px #fff, 430px 1227px #fff, 1772px 1054px #fff, 368px 1033px #fff, 1459px 972px #fff, 265px 142px #fff, 361px 468px #fff, 528px 497px #fff, 268px 164px #fff, 1492px 2px #fff, 911px 620px #fff, 1532px 1578px #fff, 1171px 122px #fff, 952px 786px #fff, 982px 1696px #fff, 423px 1385px #fff, 45px 1587px #fff, 1302px 1268px #fff, 1342px 536px #fff, 168px 1033px #fff, 376px 995px #fff, 173px 578px #fff, 434px 1513px #fff, 1726px 1504px #fff, 87px 1649px #fff, 1531px 1327px #fff, 794px 281px #fff, 901px 8px #fff, 919px 1737px #fff, 829px 558px #fff, 107px 1100px #fff, 1681px 1298px #fff, 1459px 1164px #fff, 995px 1607px #fff, 348px 1619px #fff, 590px 1631px #fff, 1679px 1272px #fff, 1177px 198px #fff, 386px 1595px #fff, 949px 1342px #fff, 1385px 1197px #fff, 1075px 802px #fff, 906px 286px #fff, 1401px 1484px #fff, 646px 158px #fff, 80px 1537px #fff, 662px 375px #fff, 1178px 36px #fff, 1138px 357px #fff, 1108px 606px #fff, 169px 1750px #fff, 526px 867px #fff, 320px 1173px #fff, 970px 545px #fff, 1525px 1600px #fff, 730px 12px #fff, 349px 216px #fff, 73px 1721px #fff, 452px 1284px #fff, 1292px 216px #fff, 137px 488px #fff, 1637px 944px #fff, 176px 4px #fff, 776px 1466px #fff, 519px 1433px #fff, 541px 668px #fff, 1330px 1089px #fff, 1720px 1480px #fff;
  animation-name: glowing-stars;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  position: absolute;
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#landing {
  height: 100%;
  width: 100%;
}

@keyframes fadeLanding {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

#earth {
  position: fixed;
  z-index: 2;
  transform-style: preserve-3d;
  perspective: 500px;
  transform: rotateZ(90deg);
  animation: earth_animation;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  -o-object-fit: cover;
     object-fit: cover;
  height: 700px;
  left: -10%;
  top: 30%;
  opacity: 0.8;
}

@keyframes earth_animation {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.RowForm {
  height: 100%;
}

.FormContainer {
  height: 80%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;
  overflow: auto;
}

.FormComponentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.InputsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.titleTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  z-index: 2;
}
.titleTextContainer h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: 5em;
  width: 10em;
  line-height: 0.9em;
  letter-spacing: 4px;
  text-shadow: 2px 2px 15px rgba(192, 185, 185, 0.337254902);
}

@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}
/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}
.rainbow-text {
  background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(#CA4246 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #b1ff4b 66.666%, #012e99 83.333%, #aa5050 83.333%);
  background-size: 57%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-animation-rev 0.5s ease forwards;
  cursor: pointer;
}

.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

.inputBox {
  position: relative;
  width: 350px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.2s;
}

.inputBox select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.2s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.2s;
}

.inputBox input:valid ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox select:valid ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox input:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox select:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}

.inputBox select:valid ~ span,
.inputBox select:focus ~ span {
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}

select option {
  background: rgba(0, 0, 0, 0.39);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.ButtonContainer button {
  outline: none;
}

.LaunchButton {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 15px 35px 17px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ffffff;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.LaunchButton span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.LaunchButton span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.LaunchButton:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.LaunchButton:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.LaunchButton:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.inputBox {
  position: relative;
  width: 350px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.2s;
}

.inputBox select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.2s;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.2s;
}

.inputBox input:valid ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox select:valid ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox input:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox select:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}

.inputBox select:valid ~ span,
.inputBox select:focus ~ span {
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}

select option {
  background: rgba(0, 0, 0, 0.39);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.ButtonContainer button {
  outline: none;
}

.LaunchButton {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 15px 35px 17px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ffffff;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.LaunchButton span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.LaunchButton span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.LaunchButton:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.LaunchButton:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.LaunchButton:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  background: linear-gradient(180deg, rgb(14, 2, 26) 31%, hsl(266, 84%, 7%) 91%);
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  position: relative;
}/*# sourceMappingURL=main.css.map */