
@import "Scss/_Result.scss";
@import "Scss/_Stars.scss";
@import "Scss/_Animations.scss";
@import "Scss/_Form.scss";
@import "Scss/_Form_inputs.scss";
@import "Scss/_Form_inputs.scss";

*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
    
   
    // background-color: black !important;
    // linear-gradient(180deg, rgb(14, 2, 26) 31%, hsla(266, 84%, 7%, 1) 91%)
    background: linear-gradient(180deg, rgb(14, 2, 26) 31%, hsla(266, 84%, 7%, 1) 91%) ;
    background-size: cover;
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: row;
    // overflow-x: hidden;
    overflow-y: hidden;
    position:relative;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #df0a0a57;
    border-radius: 30px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background-color: #df0a0a25;
    border-radius: 30px;
  }
  
  /* Handle */
 ::-webkit-scrollbar-thumb {
    background: hsla(0, 90%, 4%, 0.60);
    border-radius: 15px;
  }
  
  /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 90%, 4%, 0.8);

    border-radius: 15px;

  }
