#result{
width: 100%;
height: 100vh;
background: rgb(36,0,0);
background: linear-gradient(308deg, rgba(36,0,0,1) 0%, rgba(65,0,0,1) 51%, rgba(134,1,1,1) 100%);

}
.result_container{
    position: relative;
    width: 100%;
}

.pollution-result-container{
    height: 100%;
    background: rgb(36,0,0);
background: linear-gradient(308deg, rgba(36,0,0,1) 0%, rgba(65,0,0,1) 51%, rgba(134,1,1,1) 100%);
    .result-image{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 360px ;
            border-radius: 25px;
            opacity: 0.8;
            
            }
    }
    .pollution-text{
        padding: 20px;
        color: #fff;
        display: flex;
        justify-content: center;
        
    }
}



@keyframes faderesult {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}